<ngb-carousel [hidden]="toggle1">
  <ng-template ngbSlide>
    <img src="../assets/img/batik/pic1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>BATIK INDONESIA</h3>
      <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- <img [src]="images[1]" alt="Random second slide"> -->
    <img src="../assets/img/batik/pic2.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>BATIK INDONESIA</h3>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- <img [src]="images[2]" alt="Random third slide"> -->
    <img src="../assets/img/batik/pic3.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>BATIK INDONESIA</h3>
      <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </ng-template>
</ngb-carousel>

<div class="container" [hidden]="toggle1">
  <div style="padding-top: 10px" class="col-lg-12">
    <h4>JENIS MOTIF BATIK DAN TEKNIK MEMBATIK</h4>
  </div>
  <h5>Berdasarkan akar budayanya, motif batik dikelompokkan menjadi dua yaitu:</h5>
  <label>1. Motif Batik Yang Berakar Pada Budaya Keraton Jawa</label>
  <p>Motif batik ini dikenal dengan istilah batik Solo-Yogya atau batik klasik, batik klasik memiliki banyak simbol dan
    terdapat pembatasan dalam corak dan penggunaannya contohnya adalah motif parang rusak barong dan parang truntum</p>
  <div style="margin-bottom: 15px;margin-top: 15px;" class="row">
    <div class="col-lg-2">
      <!-- <img class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi1.jpg">
      <label style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Batik Klasik Bermotif Parang Rusak</label> -->
    </div>
    <div class="col-lg-8">
      <img style="padding-right: 2px" class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi1.jpg">
      <img style="padding-left: 2px" class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi2.jpg">
      <label style="margin-left: 15px;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Batik Klasik Bermotif
        Parang Rusak</label>
      <label style="margin-left: 100px;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Batik Klasik Bermotif
        Truntum</label>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <label>2. Motif Batik Bebas atau Mandiri</label>
  <p>Motif batik ini adalah motif yang bebas berkembang diluar aturan atau tradisi keraton. Tidak ada ketentuan khusus
    dalam pembuatan motif dan pemilihan warna, oleh karena itu, corak atau warna batik jenis ini sangat bervariasi.</p>
  <div style="margin-bottom: 15px;margin-top: 15px;" class="row">
    <div class="col-lg-2">
      <!-- <img class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi1.jpg">
          <label style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Batik Klasik Bermotif Parang Rusak</label> -->
    </div>
    <div class="col-lg-8">
      <img style="padding-right: 2px" class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi3.jpg">
      <img style="padding-left: 2px" class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi4.jpg">
      <label style="margin-left: 15px;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Batik madura dengan
        motif gaya
        Tasikmalaya
      </label>
      <label style="margin-left: 35px;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Batik papua dengan
        motif khas daerah
        Setempat
      </label>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <h5>Teknik Membatik</h5>
  <p>Membatik diartikan sebagai proses pembuatan motif atau ragam hias pada kain dengan perintangan. Adapun ciri khas
    batik ialah penggambaran motif dalam bentuk negatif atau klise. Motif dalam bentuk klise dapat diciptakan dalam
    berbagai cara. Cara-cara tersebut sebagai berikut:</p>
  <ol>
    <ul>
      <li>merintangi sebagian pola dengan alat canting tradisiona(canting tulis)</li>
      <li>merintangi sebagian pola dengan alat canting cap</li>
      <li>merintangi dengan pengikatan(teknik celup ikat)</li>
    </ul>
  </ol>


  <ol>
    <li>Teknik canting tulis</li>
    <img class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi5.jpg">
    <p>Teknik canting tulis adalah teknik membatik dengan menggunakan alat yang disebut canting(jawa). Terbuat dari
      tembaga ringan dan berbentuk seperti teko kecil dengan corong diujungnya. Canting berfungsi untuk menorehkan
      cairan malam pada sebagian pola.</p>
    <li>Teknik celup ikat</li>
    <img class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi6.jpg">
    <p>Teknik ini merupakan pembuatan motif pada kain dengan cara mengikat sebagian kain, kemudian dicelupkan ke dalam
      larutan pewarna.</p>
    <li>Teknik printing</li>
    <p>Teknik ini merupakan cara pembuatan motif batik menggunakan canting cap. Canting cap merupakan kepingan logam
      atau pelat berisi gambar yang agak menonjol. Permukaan canting cap yang menonjol dicelupkan dalam cairan
      malam(lilin batik). Selanjutnya, canting cap dicapkan pada kain canting cap akan meninggalkan motif. Canting cap
      membuat proses pemalaman lebih cepat. Oleh karena itu teknik printing dapat menghasilkan kain batik yang lebih
      banyak dalam waktu yang lebih singkat.</p>
    <li>Teknik colet</li>
    <p>
      Teknik colet atau biasa disebut juga dengan teknik lukis, merupakan cara mewarnai pola batik dengan cara
      mengoleskan cat atau pewarna kain jenis tertentu pada pola batik dengan alat khusus atau kuas. Motif yang
      dihasilkan dengan teknik ini tidak berupa klise.Teknik colet atau biasa disebut juga dengan teknik lukis,
      merupakan cara mewarnai pola batik dengan cara mengoleskan cat atau pewarna kain jenis tertentu pada pola batik
      dengan alat khusus atau kuas. Motif yang dihasilkan dengan teknik ini tidak berupa klise.
    </p>
    <div style="margin-bottom: 15px;margin-top: 15px;" class="row">
      <div class="col-lg-2">
        <!-- <img class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi1.jpg">
            <label style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Batik Klasik Bermotif Parang Rusak</label> -->
      </div>
      <div class="col-lg-8">
        <img style="padding-right: 2px" class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi7.jpg">
        <img style="padding-left: 2px" class="img-fluid" alt="Responsive image" src="../assets/img/batik/materi8.jpg">
        <label style="margin-left: 62px;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Membatik Dengan
          Canting Cap
        </label>
        <label style="margin-left: 171px;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Proses Mencolet
        </label>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </ol>
  <button *ngIf="toggle3 == true" style="margin-top: 24px;margin-bottom: 125px"
    class="btn btn-block btn-outline-primary cursor-restriction" (click)="startSession1()">
    Mulai Kuis </button>
  <button *ngIf="toggle3 == false" style="margin-top: 24px;margin-bottom: 125px"
    class="btn btn-block btn-outline-primary cursor-restriction" (click)="nextSession()">
    Lanjut ke sesi berikutnya </button>
</div>
<div [hidden]="!toggle1" style="margin-left: 70px;margin-right: 70px; margin-top: 70px" class="card">
  <div class="card-body">
    <p>
      <ngb-progressbar [max]="80" type="success" [value]=loadingBar></ngb-progressbar>
    </p>
    <div class="row justify-content-md-center">
      <!-- <div>Apa saja unsur yang ada pada karya seni tari, kecuali ?</div> -->
      <div class="col-sm-12 col-lg-12" style="text-align: center">{{allQuestions[idQues].question}}</div>
      <img *ngIf="allQuestions[idQues].id == 2" class="img-fluid" alt="Responsive image"
        src="../assets/img/batik/materi9.jpg">
      <img *ngIf="allQuestions[idQues].id == 7" class="img-fluid" alt="Responsive image"
        src="../assets/img/batik/materi10.jpg">
      <div style="margin-top: 10px" class="col-md-9 col-form-label">
        <div class="row justify-content-md-center">
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].a.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              A. {{allQuestions[idQues].a.label}}</button>
          </div>
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].b.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              B. {{allQuestions[idQues].b.label}}</button>
          </div>
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].c.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              C. {{allQuestions[idQues].c.label}}</button>
          </div>
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].d.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              D. {{allQuestions[idQues].d.label}}</button>
          </div>
        </div>
        <!-- <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="ques1" value="a">
            <label class="form-check-label">a) Raga </label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="ques1" value="b">
            <label class="form-check-label">b) Irama</label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="ques1" value="c">
            <label class="form-check-label">c) Dinamika</label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="ques1" value="d">
            <label class="form-check-label">d) Rasa</label>
          </div> -->
      </div>
    </div>
  </div>
</div>