<ngb-carousel [hidden]="toggle1">
  <ng-template ngbSlide>
    <img src="../assets/img/anyaman/pic1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>KERAJINAN INDONESIA</h3>
      <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- <img [src]="images[1]" alt="Random second slide"> -->
    <img src="../assets/img/anyaman/pic2.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>KERAJINAN INDONESIA</h3>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- <img [src]="images[2]" alt="Random third slide"> -->
    <img src="../assets/img/anyaman/pic3.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>KERAJINAN INDONESIA</h3>
      <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </ng-template>
</ngb-carousel>

<div class="container" [hidden]="toggle1">
  <div style="padding-top: 10px" class="col-lg-12">
    <h4>MENGENAL KERAJINAN ANYAMAN</h4>
  </div>
  <p>Anyaman merupakan seni yang mempengaruhi kehidupan dan kebudayaan masyarakat Melayu.Menganyam bermaksud proses
    menjaringkan atau menyilangkan bahan-bahan daripada tumbuh-tumbuhan untuk dijadikan satu rumpun yang kuat dan boleh
    digunakan. Bahan tumbuh-tumbuhan yang boleh dianyam ialah lidi, rotan, akar, bilah, pandan, mengkuang dan
    beberapabahan tumbuhan lain yang dikeringkan. Alat-Alat Yang Digunakan Untuk Membuat Anyaman Daun kelapa,bilah
    bambu.</p>

  <p>Anyaman adalah teknik membuat karya seni rupa yang dilakukan dengan cara menumpang tindihkan (menyilangkan) bahan
    anyam yang berupa lungsi dan pakan. Lungsi merupakan bahan anyaman yang menjadi dasar dari media anyam, sedangkan
    pakan yaitu bahan anyaman yang digunakan sebagai media anyaman dengan cara memasukkannya ke dalam bagian lungsi yang
    sudah siap untuk di anyam.</p>

  <p>Bahan-bahan anyaman dapat dibuat dari tumbuh-tumbuhan yang sudah dikeringkan, seperti lidi, rotan, akar, dan
    dedaunan untuk dijadikan suatu rumpun yang kuat (tampar). Sedangkan alat yang digunakan untuk mengayam masih sangat
    sederhana seperti pisau pemotong, pisau penipis, dan catut bersungut bundar.</p>
  <p>Berdasarkan bentuknya, anyaman dibagi menjadi dua, yaitu:</p>
  <p>Anyaman dua dimensi, yaitu anyaman yang hanya memiliki ukuran panjang dan lebar saja, kalaupun seandainya memiliki
    ketebalan, ketebalan tersebut tidak terlalu diperhitungkan. Berdasarkan cara membuatnya, anyaman dibagi menjadi
    tiga, yaitu:</p>
  <ol>
    <li>Anyaman datar (Sasak), yaitu anyaman yang dibuat datar, pipih, dan lebar. Jenis kerajinan ini banyak
      digunakan untuk tikar, dinding rumah tradisional, dan pembatas ruangan.</li>
    <li>Anyaman miring (Serong), yaitu anyaman yang dibuat miring, bias berbentuk dua dimensiatau tiga dimensi. Jenis
      kerajinan ini banyak digunakan untuk keranjang, tempat tape, dan lain sebagainya.</li>
    <li>Anyaman persegi (Truntum), yaitu anyaman yang dibuat dengan motif persegi, bisa segi tiga, segi empat, segi
      delapan, dan seterusnya. ANyaman ini bisa berbentuk dua dimensi atau tiga dimensi.</li>
  </ol>
  <p>Berdasarkan tekniknya, anyaman dibagi menjadi dua, yaitu:</p>
  <ol>
    <ul>
      <li>Anyaman silang tunggal,merupakan anyaman yang memiliki dua arah sumbu yang saling tegak
        lurus
        atau miring satu sama lainnya.</li>
      <li>
        anyaman silang ganda, merupakan menganyam dengan teknik ini sama dengan silang
        tunggal ialah menyisipkan dan menumpang dua benda pipih, yaitu pakan dan lusi yang berbeda arah. Bedanya ialah
        pada benda pipih, yaitu pakan dan lusi yang diselusup dan ditumpangi tidak hanya satu tepi tetapi dapat dua,
        tiga,
        empat, lima, dan seterusnya sehingga dikenal silangan ganda dua, ganda tiga, ganda empat, ganda lima, dan
        seterusnya sesuai dengan jumlah benda pipih dilompati dan disusupi.
      </li>
      <li>
        Anyaman tiga sumbu, teknik ini sama
        seperti
        teknik anyaman silang, hanya saja perlu diingat bahwa benda pipih, yaitu pakan dan lusi yang akan dianyam
        tersusun
        menurut tiga arah. Teknik anyaman ini memberi peluang untuk memperoleh hasil anyaman tiga sumbu jarang dan
        anyaman
        tiga sumbu rapat, sedangkan anyaman tiga sumbu rapat dengan pola bentuk heksagonal (segi enam beraturan) atau
        belah ketupat.
      </li>
      <li>Anyaman empat sumbu, yaitu anyaman empat sumbu, teknik anyaman ini berprinsip
        menyisip dan
        menumpangkan benda pipih yaitu pakan dan lusi secara satu sama lainnya berbeda arah. Hanya saja benda pipih yang
        berbeda arah disini makin banyak jumlahnya (empat buah sumbu). Jenis anyaman empat sumbu termasuk jenis anyaman
        yang berlubang-lubang dengan bentuk pola oktogonal (segi delapan beraturan).</li>
    </ul>
  </ol>

  <p>Perkembangan ide kreatif yang didorong oleh semakin beragamnya kebutuhan, para pengrajin melakukan berbagai inovasi
    dalam produk anyamannya. Berikut ini beberapa jenis produk dari perkembangan produk anyaman.</p>
  <ol>
    <li>Lampion</li>
    <p>Anyaman lampion merupakan seni anyaman tiga dimensi dan termasuk anyaman buluh (bamboo atau aur). Bulu merupakan
      salah satu jenis spesies rumput, seperti ilalang, dan jagung.</p>
    <li>Kata</li>
    <p>Kata merupakan keranjang yang dianyam dari daun kelapa yang dilengkapi dengan tali pikulan untuk digunakan untuk
      membawa hasil ladang. Kata ini merupakan seni anyaman tiga dimensi terapan. Kata terdiri atas beberapa jenis
      antara lain kata mapa, kata kowe, dan kata manu.</p>
    <li>Tikar</li>
    <p>Tikar merupakan anyaman yang paling banyak ditemui dan dianyam dengan menggunakan daun lontar atau daun pandan.
      Penggunaannya sebagai alat tidur dan tikar yang berukuran besar digunakan untuk menjemur padi. Selain itu, tikar
      juga digunakan sebagai alas tempat duduk bagi tamu.</p>
    <li>Pembatas dinding</li>
    <p>Pembatas dinding merupakan jenis anyaman datar yang terdiri atas pola anyaman berasal dari bambu yang telah
      dipipihkan.</p>
  </ol>
  <button *ngIf="toggle3 == true" style="margin-top: 24px;margin-bottom: 125px"
    class="btn btn-block btn-outline-primary cursor-restriction" (click)="startSession1()">
    Mulai Kuis </button>
  <button *ngIf="toggle3 == false" style="margin-top: 24px;margin-bottom: 125px"
    class="btn btn-block btn-outline-primary cursor-restriction" (click)="nextSession()">
    Kembali ke Home </button>
</div>
<div [hidden]="!toggle1" style="margin-left: 70px;margin-right: 70px; margin-top: 70px" class="card">
  <div class="card-body">
    <p>
      <ngb-progressbar [max]="80" type="success" [value]=loadingBar></ngb-progressbar>
    </p>
    <div class="row justify-content-md-center">
      <!-- <div>Apa saja unsur yang ada pada karya seni tari, kecuali ?</div> -->
      <div class="col-sm-12 col-lg-12" style="text-align: center">{{allQuestions[idQues].question}}</div>
      <div style="margin-top: 10px" class="col-md-9 col-form-label">
        <div class="row justify-content-md-center">
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].a.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              A. {{allQuestions[idQues].a.label}}</button>
          </div>
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].b.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              B. {{allQuestions[idQues].b.label}}</button>
          </div>
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].c.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              C. {{allQuestions[idQues].c.label}}</button>
          </div>
          <div class="col-sm-12 col-lg-3">
            <button value="{{allQuestions[idQues].d.value}}" (click)="pilihJawaban($event)"
              class="btn btn-block btn-outline-primary cursor-restriction btn-choose" style="margin-top: 24px;">
              D. {{allQuestions[idQues].d.label}}</button>
          </div>
        </div>
        <!-- <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="ques1" value="a">
          <label class="form-check-label">a) Raga </label>
        </div>
        <br>
        <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="ques1" value="b">
          <label class="form-check-label">b) Irama</label>
        </div>
        <br>
        <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="ques1" value="c">
          <label class="form-check-label">c) Dinamika</label>
        </div>
        <br>
        <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="ques1" value="d">
          <label class="form-check-label">d) Rasa</label>
        </div> -->
      </div>
    </div>
  </div>
</div>